<form>
    <label>Customer Name:</label>
    <input type="text" ng-model="customersList.newCustomer.name">
    <label>Car Model:</label>
    <input type="text" ng-model="customersList.newCustomer.carmodel">
    <label>Tree Type:</label>
    <input type="text" ng-model="customersList.newCustomer.treetype">
    <label>Public:</label>
    <input type="checkbox" ng-model="customersList.newCustomer.public">
    <button ng-click="customersList.addCustomer()">Add Customer</button>
</form>



<h1>Customer</h1>
<input type="search" ng-model="customersList.searchText" placeholder="Search">
<select ng-model="customersList.orderProperty" ng-change="customersList.updateSort()">
    <option value="1">Ascending</option>
    <option value="-1">Descending</option>
</select>
<ul>
 <li ui-sref="customerDetails({ customerId: customer._id })" dir-paginate="customer in customersList.customers | itemsPerPage: customersList.perPage" total-items="customersList.customersCount">
     {{customer.name}}
     <p>
         {{customer.carmodel}}
     </p>
     <p>
         {{customer.treetype}}
     </p>
     <button ng-click="customersList.removeCustomer(customer)">X</button>
 </li>
</ul>


<div class="angular-google-map-container">
  <ui-gmap-google-map center="customersList.party.location || customersList.map.center" zoom="customersList.map.zoom">
    <ui-gmap-markers models="customersList.customers" options="customersList.map.marker.options" coords="'location'"
                     fit="false" idkey="'_id'" dorebuildall="true">
    </ui-gmap-markers>
  </ui-gmap-google-map>
</div>


<dir-pagination-controls on-page-change="customersList.pageChanged(newPageNumber)"></dir-pagination-controls>


